{% extends "gestion/homeGestion.html " %}  
  {% block contenido %}
  <body>
    <div class="container">
      <a href="crear_nuevo_paciente" class="btn btn-outline-dark mt-5"
        >Crear Nuevo Paciente</a>

      <table class="table table-bordered table-info mt-5 text-center">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Direccion</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for paciente in pacientes %}
          <tr>
            <th>{{ paciente.id }}</th>
            <td>{{ paciente.name }}</td>
            <td>{{ paciente.apellidos }}</td>
            <td>{{ paciente.direccion }}</td>
            <td>
              <a href="detalles_paciente_{{ paciente.id }}" class="btn btn-danger"
                >Ver mas</a
              >
              <a href="editar_paciente_{{ paciente.id }}" class="btn btn-success"
                >Editar</a
              >
              <a
                href="eliminar_paciente_{{ paciente.id }}"
                class="btn btn-primary"
                >Eliminar</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
  {%endblock%} {% comment %}
</html>
{% endcomment %}
